---
import Layout from "../../layouts/Layout.astro";
import ArticleList from "../../components/ArticleList.astro";
import type { MarkdownInstance } from "astro";

interface Frontmatter {
  title: string;
  date: string;
  image?: string;
  desc?: string;
  categories?: string[];
}

const posts = Object.values(
  import.meta.glob("./*.{md,mdx}", { eager: true }),
).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf(),
) as MarkdownInstance<Frontmatter>[];
---

<Layout title="Blogs - Mozi's Website">
  <div class="pt-12 pb-20 px-6 max-w-7xl mx-auto min-h-screen">
    <div class="text-center space-y-4 mb-16">
      <h1 class="text-4xl font-bold text-white">My Blogs</h1>
      <p class="text-gray-400">Thoughts, tutorials, and updates.</p>
    </div>

    <ArticleList posts={posts} />
  </div>
</Layout>
