---
import Layout from "../../layouts/Layout.astro";
import ArticleList from "../../components/blog/ArticleList.astro";
import SectionHeader from "../../components/ui/SectionHeader.astro";
import { getArticleList } from "../../utils/article";
import { SITE } from "../../config";

const items = await getArticleList("blog");

const listItems = items.map((item) => {
  if (item.type === "series") {
    const data = item.metadata.data;
    return {
      name: data.title,
      url: new URL(`/blogs/${item.slug}`, SITE.url).href,
      image: data.image,
      description: data.desc,
    };
  } else {
    const data = item.article.data;
    return {
      name: data.title,
      url: new URL(`/blogs/${item.article.slug}`, SITE.url).href,
      image: data.image,
      description: data.desc,
    };
  }
});
---

<Layout
  title="Blogs"
  description="Thoughts, tutorials, and updates."
  items={listItems}
>
  <div class="pt-12 pb-20 px-6 max-w-7xl mx-auto min-h-screen">
    <SectionHeader title="My Blogs">
      <p class="text-gray-400">Thoughts, tutorials, and updates.</p>
    </SectionHeader>

    <ArticleList items={items} />
  </div>
</Layout>
